/*Benytter vores gennemgående farve som baggrund*/
body {
  background-color: #518298;
  font-family: sans-serif;
}
/*styler logo*/
#logo {position: absolute;
  float: left;
  margin-top: -3%;
}

/*placere iframe i forhold til de andre elementer på siden*/
iframe {
  position: fixed;
  margin-left: 35%;
  margin-top: 5%;
}
/*Styler Werner og sætter animation for Werner*/
#popupWerner {
  width: 33%;
  position: relative;
  margin-left: -5%;
  margin-top: 5%;
  animation-name: werner;
  animation-duration: 10s;
  transform: rotate(15deg);
  float: left;
}

@keyframes werner {
  0% {
    left: -400px;
    ;
  }
  15% {
    left: 20px;
  }
}
/*Styler taleboble billedet*/

#taleboble {
  position: relative;
  width: 60%;
  float: left;
  margin-top: 5%;
}

/*Styler selve indholdet i taleboble så de får de rette forhold*/
.tekst {
  position: absolute;
  margin-top: 7%;
  margin-left: 40%;
}

.tekst h1 {
  margin-bottom: -5%;
  font-size: 3em
}

.tekst p {
  font-size: 2em
}

#knap {
  color: white;
  background-color: #518298;
  border-radius: 25px;
  border-color: #518298;
  width: 70%;
  height: 50px;
  font-size: 2em;
  margin-top: 5%;
  margin-left: 15%;
}

/*Styler footer med et billede*/
#organ {
  position: relative;
  width: 100%;
  margin-top: -13%;
  bottom: 0;
}
